@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #515076;
  background: #fff;
  display: flex;
}

.title-list {
  font-weight: 400;
  font-size: 70px;
  line-height: 111%;
  text-align: center;
}

.product-card {
  width: 340px;
  height: 573px;
  box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
  background: #f7f7fa;
  margin: 45px;
  padding: 25px;
  box-sizing: border-box;
}

.product-image {
  margin: 0px;
  display: block;
}

.product-description {
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-properties {
  margin-top: 5px;
  margin-bottom: 15px;
}

.compound {
  width: 252px;
  height: 87px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.product-compound {
  margin: 0 0 5px 0;
}

.product-compound-list {
  margin: 0;
  padding-left: 15px;
}

.product-price {
  width: 290px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.product-price-value {
  font-size: 20px;
  line-height: 120%;
}