@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #515076;
  background: #fff;
}

.catalog {
  width: 1280px;
  height: 1800px;
  margin: 0 auto;
}

.catalog__title {
  margin-bottom: 138px;
  margin-top: 220px;
}

.catalog__container {
  background-image: url("img/dandelions_background.jpg");
  background-size: 790px 697px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 1px;
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 111%;
  text-align: center;
  color: #515076;
}

.container {
  width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
  margin: 0 auto;
}


.product {
  width: 340px;
  height: 573px;
  box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
  background: #f7f7fa;
  padding: 25px;
}

.product__image {
  margin-bottom: 30px;
  display: block;
}

.product__description {
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-top: 0px;
  margin-bottom: 5px;
}

.product__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  margin-top: 0px;
  margin-bottom: 5px;
}

.product__properties {
  margin-top: 0px;
  margin-bottom: 15px;
}

.compound {
  width: 252px;
  height: 87px;
}

.compound__item {
  margin-top: 0px;
  margin-bottom: 5px;
}

.compound__list {
  margin: 0 0 5px 0;
  padding-left: 15px;
}

.price {
  width: 290px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.price__value {
  font-size: 20px;
  line-height: 120%;
}

.buttons {
  width: 220px;
  height: 60px;
  background-color: #4d6fb0;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  border: 5px solid #92babd;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3px;
  flex-wrap: wrap;
}

.sea {
  background-color: #00BFFF;
  color: white;
}

.sun {
  background-color: #FFD700;
  color: black;
}




a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background: #3A3A3A;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 85px;
  padding-bottom: 28px;
}

.footer__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1569px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 164px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  margin-left: 150px;
}

.footer__nav_title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 0;
  margin-bottom: 6px;
}

.footer__nav_link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.subscription {
  width: 477px;
  height: 103px;
}

.subscription__form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  background-color: white;
  border-radius: 10px;
}

.subscription__title {
  margin: 0 0 12px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.subscription__form_input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  font-family: Montserrat;
  font-size: 14px;
}

.subscription__form_button {
  border: none;
  border-left: 1px solid #555;
  background: transparent;
  padding: 0 20px;
  font-family: Montserrat;
  font-size: 16px;
  cursor: pointer;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 28px;
  line-height: 154%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.footer__description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 42px;
}



.footer__logo_tg {
  margin-right: 30px;
}

.footer__line {
  width: 66px;
  height: 1px;
  background: #aaa;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer_link {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal-showed {
  display: flex;
}


.modal__form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 100px;
  position: relative;
  width: 1000px;
  height: 600px;
  justify-content: space-between;
  align-items: center;
}

.modal_title {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 154%;

}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__form_input {
  width: 700px;
  height: 30px;
}

.modal__form_button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #7673d0;
  color: #f7f5f5;
  font-size: 14px;
  font-weight: 600;
}